<center><h1>Lab Roleplay Launcher Kurulumu</h1></center>
<title>Lab Roleplay | Launcher Kurulum ve Bilgilendirme</title>
<div class="card-group">
<div class="card">

<div class="card-body">
<h5 class="card-title">1. Adım</h5>
<p class="card-text">Sitemizden indirdiğimizde alt fotoğraftaki gibi bir dosya gelecektir çift tık ile bu dosyayı açıp adımları tamamlayınız.</p>
<img src="lbrpresim/launcher1.png" class="img-thumbnail" alt="...">
</div>
</div>
<div class="card">

<div class="card-body">
<h5 class="card-title">2. Adım</h5>
<p class="card-text">Ardından masaüstünüze alttaki gibi bir simge gelecektir bu simgeye tıklayarak launcherimizi başlatın</p>
<img src="lbrpresim/launcher2.png" class="img-thumbnail" alt="...">
</div>
</div>
<div class="card">
<div class="card-body">
<h5 class="card-title">3. Adım</h5>
<p class="card-text">Launcher üstünden Teamspeak3 <a href="/ts3">(Teamspeak3'ü nasıl kuracağınızı bilmiyorsanız tıklayın)</a> ve Oyuna Giriş Yap butonuna basarak sunucumuza kolaylıkla bağlanabilirsiniz. Launcher geliştirildikçe yeni güncellemeler gelecektir güncelleme duyurusu geçildiğinde bu kısımdan yeniden indirilmesi gerekmektedir.</p>
</div>
</div>
</div>
<hr class="my-5" />
<center> <a type="button" class="btn btn-info" href="/dosyalar/lab_roleplay.exe"> İndirmek İçin Tıklayın </a></center>
<hr class="my-5" />


<center><h1>Launcher ile ilgili bilgilendirme</h1></center>

<center> <p>Launcherimizde hile koruması vardır. Hile koruması launcheri açtığınızda ve sunucuya bağlandığınız sırada sunucu ile birlikte bilgisayarınızdaki açık olan veya yüklü programları kontrol etmektedir. Eğer istenmeyen programlar listesindeki bir program bilgisayarınızda yüklü ise ip adresiniz, steam hex kodunuz, hangi programın yüklü olduğunu ve saati sunucuya kaydederek sizi sunucudan banlar.</p></center>

</body>
</html>