
<!DOCTYPE html>


<html  xmlns:og="http://ogp.me/ns#" class="js no-touch history boxshadow csstransforms3d csstransitions video svg gecko win js sticky-header-enabled sticky-header-negative dark" lang="tr">
<head runat="server">
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta property="og:title" content="Lab Roleplay">
<meta property="og:site_name" content="Lab Roleplay">
<meta property="og:image" content="./public/analogo.png">
<meta property="og:type" content="website">
<meta property="og:description" content="DÜZENLENECEK.">
<meta name="keywords" content="DÜZENLENECEK" />

<link rel="shortcut icon" href="img/favicon.ico" type="lbrpresim/analogo.png"/>
<link rel="apple-touch-icon" href="img/apple-touch-icon.html">

<meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1.0, shrink-to-fit=no">

<link href="../fonts.googleapis.com/css8b58.css?family=Roboto+Slab:300,400,700" rel="stylesheet" type="text/css">
</head>
<body>
    <form runat="server">

        <link rel="stylesheet" href="vendor/bootstrap/css/bootstrap.min.css">
<link rel="stylesheet" href="vendor/fontawesome-free/css/all.min.css">
<link rel="stylesheet" href="vendor/animate/animate.min.css">
<link rel="stylesheet" href="vendor/simple-line-icons/css/simple-line-icons.min.css">
<link rel="stylesheet" href="vendor/owl.carousel/assets/owl.carousel.min.css">
<link rel="stylesheet" href="vendor/owl.carousel/assets/owl.theme.default.min.css">
<link rel="stylesheet" href="vendor/magnific-popup/magnific-popup.min.css">

<link rel="stylesheet" href="Content/theme.css">
<link rel="stylesheet" href="Content/theme-elements.css">
<link rel="stylesheet" href="Content/theme-blog.css">
<link rel="stylesheet" href="Content/theme-shop.css">

<link rel="stylesheet" href="vendor/rs-plugin/css/settings.css">
<link rel="stylesheet" href="vendor/rs-plugin/css/layers.css">
<link rel="stylesheet" href="vendor/rs-plugin/css/navigation.css">

<link rel="stylesheet" href="Content/demos/demo-insurance.css">

<link rel="stylesheet" href="Content/skins/default.css">

<link rel="stylesheet" href="Content/custom.css">
        <link rel="shortcut icon" href="img/favicon.ico" type="image/x-icon" />
<link rel="apple-touch-icon" href="img/apple-touch-icon.html">

<meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1.0, shrink-to-fit=no">

<script src="vendor/jquery/jquery.min.js"></script>
<script src="vendor/jquery.appear/jquery.appear.min.js"></script>
<script src="vendor/jquery.easing/jquery.easing.min.js"></script>
<script src="vendor/jquery.cookie/jquery.cookie.min.js"></script>
<script src="vendor/popper/umd/popper.min.js"></script>
<script src="vendor/bootstrap/js/bootstrap.min.js"></script>
<script src="vendor/common/common.min.js"></script>
<script src="vendor/jquery.validation/jquery.validate.min.js"></script>
<script src="vendor/jquery.easy-pie-chart/jquery.easypiechart.min.js"></script>
<script src="vendor/jquery.gmap/jquery.gmap.min.js"></script>
<script src="vendor/jquery.lazyload/jquery.lazyload.min.js"></script>
<script src="vendor/isotope/jquery.isotope.min.js"></script>
<script src="vendor/owl.carousel/owl.carousel.min.js"></script>
<script src="vendor/magnific-popup/jquery.magnific-popup.min.js"></script>
<script src="vendor/vide/jquery.vide.min.js"></script>
<script src="vendor/vivus/vivus.min.js"></script>

<script src="Script/theme.js"></script>

<script src="vendor/rs-plugin/js/jquery.themepunch.tools.min.js"></script>
<script src="vendor/rs-plugin/js/jquery.themepunch.revolution.min.js"></script>

<script src="Script/views/view.contact.js"></script>

<script src="Script/demos/demo-insurance.js"></script>

<script src="Script/custom.js"></script>

<script src="Script/theme.init.js"></script>


        <div class="body">
<header id="header" class="header-effect-shrink" data-plugin-options="{'stickyEnabled': true, 'stickyEffect': 'shrink', 'stickyEnableOnBoxed': true, 'stickyEnableOnMobile': true, 'stickyChangeLogo': true, 'stickyStartAt': 30, 'stickyHeaderContainerHeight': 70}">
<div class="header-body header-body-bottom-border border-top-0">
<div class="header-container container">
<div class="header-row">
<div class="header-column">
<div class="header-row">
<div class="header-logo">
<a href="/">
<img alt="Lab Roleplay" width="62" height="60" data-sticky-width="52" data-sticky-height="50" src="lbrpresim/analogo.png">
</a>
</div>
</div>
</div>
<div class="header-column justify-content-end">
<div class="header-row">
<div class="header-nav header-nav-line header-nav-bottom-line">
<div class="header-nav-main header-nav-main-square header-nav-main-dropdown-no-borders header-nav-main-effect-2 header-nav-main-sub-effect-1">
<nav class="collapse">
<ul class="nav nav-pills" id="mainNav">
    <li>
<a class="nav-link" href="https://lbrpforum.technooyun.net" target="_blank">
Lab Roleplay | Forum
</a>
</li>
<li class="dropdown">
<a class="nav-link dropdown-toggle" href="/kurulumrehberleri">
 Kurulum Rehberleri
</a>
<ul class="dropdown-menu">
<li><a href="/launcherkurulum" class="dropdown-item">Launcher Kurulum/Bilgi</a></li>
<li><a href="/ts3" class="dropdown-item">Teamspeak 3</a></li>
<li><a href="/saltychat" class="dropdown-item">Saltychat Kurulum</a></li>
</ul>
</li>
<li>
<a class="nav-link" href="https://discord.gg/jqtwQb5cSS" target="_blank" >
Discord
</a>
</li>
<li>
    <a class="nav-link" href="/lbrpdurum" >
    LBRP Sunucu Geliştirme Takip
    </a>
    </li>
<li class="dropdown">
<a class="nav-link dropdown-toggle" href="/">
Diğer Sitelerimiz
</a>
<ul class="dropdown-menu">
<li><a href="https://technooyun.net" class="dropdown-item">Technooyun</a></li>
<li><a href="https://forum.technooyun.net" class="dropdown-item">Technooyun | Forum</a></li>
</ul>
</li>
<li>
<a class="nav-link" href="https://lab-roleplay-magaza.tebex.io/">
Mağaza
</a>
</li>
    <li>
<a class="nav-link" href="https://lbrp.technooyun.net/blog">
Lab Roleplay Blog
</a>
</li>
</ul>
</nav>
</div>
<a href="/Whitelist" class="btn btn-xl btn-outline btn-rounded btn-primary text-1 ml-3 font-weight-bold text-uppercase">WHITELIST BAŞVURUSU</a>
<button class="btn header-btn-collapse-nav" data-toggle="collapse" data-target=".header-nav-main nav">
<i class="fas fa-bars"></i>
</button>
</div>
</div>
</div>
</div>
 </div>
</div>
    </div>

        <%- body%>

        <footer id="footer" class="mt-0">
            <hr class="my-5" />
<div class="footer-copyright">
<div class="container py-2">
<div class="row py-4">
<div class="col-lg-1 d-flex align-items-center justify-content-center justify-content-lg-start mb-2 mb-lg-0">
<a href="index-2.html" class="logo pr-0 pr-lg-3">
<img alt="Lab Roleplay" src="lbrpresim/analogo.png " class="opacity-5" height="33">
</a>
</div>
<div class="col-lg-7 d-flex align-items-center justify-content-center justify-content-lg-start mb-4 mb-lg-0">
<p>&copy; 2022 - Lab Roleplay | Development by 	
<a href="https://serhatcantopcu.com">Serhat Can Topcu</a> </p>
</div>
<div class="col-lg-4 d-flex align-items-center justify-content-center justify-content-lg-end">
<nav id="sub-menu">
<ul>
<li><i class="fas fa-angle-right"></i><a href="https://discord.gg/jqtwQb5cSS" class="ml-1 text-decoration-none"> Discord</a></li>
</ul>
</nav>
</div>
</div>
</div>
</div>
</footer>
    </body>
</html>