	
<h5>Lab Roleplay Geliştirilme İstatistikleri</h5>
<div class="progress mb-3">
  <div class="progress-bar bg-success" role="progressbar" style="width: 60%" aria-valuenow="15" aria-valuemin="0" aria-valuemax="100">60%</div>
  <div class="progress-bar bg-warning" role="progressbar" style="width: 10%" aria-valuenow="30" aria-valuemin="0" aria-valuemax="100">10%</div>
  <div class="progress-bar bg-danger" role="progressbar" style="width: 30%" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100">30%</div>
</div>

<hr class="my-5" />

<div class="card">
  <h5 class="card-header">Lab Roleplay Geliştirilme 1/2 Detaylı İstatistikleri</h5>
  <ul class="list-unstyled card-body mb-0 pb-0">
    <li class="row mb-3">
      <div class="col-5">FiveM Server</div>
      <div class="col-7 align-self-center">
        <div class="progress" style="height: 5px;">
          <div class="progress-bar bg-success" role="progressbar" style="width: 70%" aria-valuenow="15" aria-valuemin="0" aria-valuemax="100"></div>
        </div>
      </div>
    </li>
    <li class="row mb-3">
      <div class="col-5">Oyunculara açık websiteler</div>
      <div class="col-7 align-self-center">
        <div class="progress" style="height: 5px;">
          <div class="progress-bar bg-success" role="progressbar" style="width: 85%" aria-valuenow="15" aria-valuemin="0" aria-valuemax="100"></div>
        </div>
      </div>
    </li>
    <li class="row mb-3">
      <div class="col-5">Yönetici Panelleri</div>
      <div class="col-7 align-self-center">
        <div class="progress" style="height: 5px;">
          <div class="progress-bar bg-success" role="progressbar" style="width: 50%" aria-valuenow="15" aria-valuemin="0" aria-valuemax="100"></div>
        </div>
      </div>
    </li>
    <li class="row mb-3">
      <div class="col-5">Launcher ve Anticheat Sistemi</div>
      <div class="col-7 align-self-center">
        <div class="progress" style="height: 5px;">
          <div class="progress-bar bg-success" role="progressbar" style="width: 40%" aria-valuenow="15" aria-valuemin="0" aria-valuemax="100"></div>
        </div>
      </div>
    </li>
    <li class="row mb-3">
      <div class="col-5">Yetkililere Özel Sistemler</div>
      <div class="col-7 align-self-center">
        <div class="progress" style="height: 5px;">
          <div class="progress-bar bg-success" role="progressbar" style="width: 45%" aria-valuenow="15" aria-valuemin="0" aria-valuemax="100"></div>
        </div>
      </div>
    </li>
    <li class="row mb-3">
      <div class="col-5">Mağaza Sistemi</div>
      <div class="col-7 align-self-center">
        <div class="progress" style="height: 5px;">
          <div class="progress-bar bg-success" role="progressbar" style="width: 5%" aria-valuenow="15" aria-valuemin="0" aria-valuemax="100"></div>
        </div>
      </div>
    </li>
    <li class="row mb-3">
      <div class="col-5">*</div>
      <div class="col-7 align-self-center">
        <div class="progress" style="height: 5px;">
          <div class="progress-bar bg-success" role="progressbar" style="width: 0%" aria-valuenow="15" aria-valuemin="0" aria-valuemax="100"></div>
        </div>
      </div>
    </li>
    <li class="row mb-3">
      <div class="col-5">*</div>
      <div class="col-7 align-self-center">
        <div class="progress" style="height: 5px;">
          <div class="progress-bar bg-success" role="progressbar" style="width: 0%" aria-valuenow="15" aria-valuemin="0" aria-valuemax="100"></div>
        </div>
      </div>
    </li>
  </ul>
</div>

<hr class="my-5" />

<div class="card">
  <h5 class="card-header">Lab Roleplay Geliştirilme 2/2 Detaylı İstatistikleri</h5>
  <ul class="list-unstyled card-body mb-0 pb-0">
    <li class="media mb-3">
      <img class="rounded mr-3 align-self-center" src="" />
      <div class="media-body align-self-center">
        <strong>FiveM Server</strong>
        <div class="small text-muted mb-1">FiveM sunucusu içerisindeki büyük sorunlar çıkaran bugları düzeltiyoruz...</div>
        <div class="small text-muted mb-1">Progress 70%</div>
        <div class="progress mb-1" style="height: 3px;">
          <div class="progress-bar" role="progressbar" style="width: 70%" aria-valuenow="15" aria-valuemin="0" aria-valuemax="100"></div>
        </div>
      </div>
    </li>
    <li class="media mb-3">
      <img class="rounded mr-3 align-self-center" src="" />
      <div class="media-body align-self-center">
        <strong>Oyunculara açık websiteler</strong>
        <div class="small text-muted mb-1">Oyuncularımızın görüp gezinecekleri websitemizde birkaç görsel ve altyapısal düzenleme yapmaktayız...</div>
        <div class="small text-muted mb-1">Progress 85%</div>
        <div class="progress mb-1" style="height: 3px;">
          <div class="progress-bar" role="progressbar" style="width: 85%" aria-valuenow="85" aria-valuemin="0" aria-valuemax="100"></div>
        </div>
      </div>
    </li>
    <li class="media mb-3">
      <img class="rounded mr-3 align-self-center" src="" />
      <div class="media-body align-self-center">
        <strong>Yönetici Panelleri</strong>
        <div class="small text-muted mb-1">Yetkililerimizin işini kolaylaştırmak ve yönetim tarafında akılcı çözümler ile sunucu içerisindeki sorunların daha hızlı ve kolay düzeltilmesi için çalışmaktayız...</div>
        <div class="small text-muted mb-1">Progress 50%</div>
        <div class="progress mb-1" style="height: 3px;">
          <div class="progress-bar" role="progressbar" style="width: 50%" aria-valuenow="15" aria-valuemin="0" aria-valuemax="100"></div>
        </div>
      </div>
    </li>
    <li class="media mb-3">
      <img class="rounded mr-3 align-self-center" src="" />
      <div class="media-body align-self-center">
        <strong>Launcher ve Anticheat Sistemi</strong>
        <div class="small text-muted mb-1">Oyuncularımızın sunucumuza hızlı ve güvenli bağlanması için launcher geliştiriyoruz...</div>
        <div class="small text-muted mb-1">Progress 40%</div>
        <div class="progress mb-1" style="height: 3px;">
          <div class="progress-bar" role="progressbar" style="width: 40%" aria-valuenow="15" aria-valuemin="0" aria-valuemax="100"></div>
        </div>
      </div>
    </li>
    <li class="media mb-3">
      <img class="rounded mr-3 align-self-center" src="" />
      <div class="media-body align-self-center">
        <strong>Yetkililere Özel Sistemler</strong>
        <div class="small text-muted mb-1">Yetkililere Özel Sistemler...</div>
        <div class="small text-muted mb-1">Progress 45%</div>
        <div class="progress mb-1" style="height: 3px;">
          <div class="progress-bar" role="progressbar" style="width: 45%" aria-valuenow="15" aria-valuemin="0" aria-valuemax="100"></div>
        </div>
      </div>
    </li>
    <li class="media mb-3">
      <img class="rounded mr-3 align-self-center" src="" />
      <div class="media-body align-self-center">
        <strong>Mağaza Sistemi</strong>
        <div class="small text-muted mb-1">Sizlerin suncumuzda daha güvenli ve kolay alışveriş yapabilmeniz için mağaza sistemi oluşturuyoruz...</div>
        <div class="small text-muted mb-1">Progress 5%</div>
        <div class="progress mb-1" style="height: 3px;">
          <div class="progress-bar" role="progressbar" style="width: 5%" aria-valuenow="15" aria-valuemin="0" aria-valuemax="100"></div>
        </div>
      </div>
    </li>
    <li class="media mb-3">
      <img class="rounded mr-3 align-self-center" src="" />
      <div class="media-body align-self-center">
        <strong>*</strong>
        <div class="small text-muted mb-1">*</div>
        <div class="small text-muted mb-1">Progress 0%</div>
        <div class="progress mb-1" style="height: 3px;">
          <div class="progress-bar" role="progressbar" style="width: 0%" aria-valuenow="15" aria-valuemin="0" aria-valuemax="100"></div>
        </div>
      </div>
    </li>
    <li class="media mb-3">
      <img class="rounded mr-3 align-self-center" src="" />
      <div class="media-body align-self-center">
        <strong>*</strong>
        <div class="small text-muted mb-1">*</div>
        <div class="small text-muted mb-1">Progress 0%</div>
        <div class="progress mb-1" style="height: 3px;">
          <div class="progress-bar" role="progressbar" style="width: 0%" aria-valuenow="15" aria-valuemin="0" aria-valuemax="100"></div>
        </div>
      </div>
    </li>
  </ul>
</div>

<hr class="my-5" />


  <div id="main-container-social" class="main-container-social"></div>
  <link rel="stylesheet" href="../vendor/istatistik.css">

  