<hr class="my-5" />

<center><h1>Lab Roleplay Saltychat Kurulumu</h1></center>

  <div class="card-group">
<div class="card">

<div class="card-body">
<h5 class="card-title">1. Adım</h5>
<p class="card-text">Eklentiyi indirdikten sonra teamspeak3 uygulamasını tamamen kapattığımızdan emin olarak çalıştırıyoruz.</p>
</div>
</div>
<div class="card">

<div class="card-body">
<h5 class="card-title">2. Adım</h5>
<p class="card-text">Alttaki fotoğrafta olduğu gibi bir pencere gelecektir bu pencereden install seçeneğine tıklayıp ardından çıkan pencerelere yes diyerek kurulumu tamamlayın.</p>
<img src="lbrpresim/salty1.png" class="img-thumbnail" alt="...">
</div>
</div>
<div class="card">
<div class="card-body">
<h5 class="card-title">3. Adım</h5>
<p class="card-text">Kurulumu tamamladığınızda Tools > Options > Addons kısmında eğer saltychat gözüküyorsa eklenti başarıyla kurulmuştur. </p>
<img src="lbrpresim/salty2.png" class="img-thumbnail" alt="...">
</div>
</div>
</div>
<hr class="my-5" />
<center> <a type="button" class="btn btn-info" href="/dosyalar/saltychat.rar">Saltychat İndirmek İçin Tıklayın </a></center>
