<hr class="my-5" />

<center><h1>Lab Roleplay Teamspeak3 Kurulumu</h1></center>

  <div class="card-group">
<div class="card">

<div class="card-body">
<h5 class="card-title">1. Adım</h5>
<p class="card-text">Sitemizden indirdiğiniz uygulamayı açın. İlgili setup adımlarını tamamlayın ve Teamspeak3 ü kurun.</p>
</div>
</div>
<div class="card">
<div class="card-body">
<h5 class="card-title">2. Adım</h5>
<p class="card-text">Ardından <a href="/saltychat">Saltychat Kurulum</a> sayfasındaki adımları takip edin ve Saltychat eklentisini de kurun.</p>
</div>
</div>
<div class="card">
<div class="card-body">
<h5 class="card-title">3. Adım</h5>
<p class="card-text">Kurulumlar bittikten sonra Launcher üzerinde bulunan Teamspeak3 butonuna basarak sunucuya bağlanabilirsiniz.</p>
</div>
</div>
</div>
<hr class="my-5" />
<center> <a type="button" class="btn btn-info" href="/dosyalar/teamspeak3.exe">Ts3 İndirmek İçin Tıklayın </a></center>