<center><h1>Lab Roleplay Whitelist Başvuru Formu</h1></center> 
<hr class="my-5" />

<center><iframe src="https://docs.google.com/forms/d/e/1FAIpQLScuR5hKjR8BhN1pM1NpcYv5q_lT7lQTfhVSe9RGHRPGJYjW6g/viewform?embedded=true" width="740" height="2350" frameborder="0" marginheight="0" marginwidth="0">Yükleniyor…</iframe></center>
